<ul>
    <li>Name: <%= link_to s.name, student_path(s)%> </li>
    <li>Heritage: <%= s.heritage %> </li>
    <li>Alive: <%= s.alive%> </li>
    <li>Patronus: <%= s.patronus%> </li>
    <li>Classes: <%= s.klasses_names %> </li>
</ul>
